<body background="111.jpg">

<h1 align="center"><img  src="/LOGO.png"  width="200" />




<h1 align="center" id="firstHeading" class="firstHeading" lang="sh" >Historija umjetnosti</h1>
<br>
<div id="bodyContent" font:"" class="mw-body-content">
				<div id="siteSub" class="noprint"></div>				<div id="contentSub"></div>
								<div id="jump-to-nav" class="mw-jump">
										 				
				</div>
				<div id="mw-content-text" lang="sh" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output"><div class="thumb tright">
<div class="thumbinner" style="width:202px;"><a href="/wiki/Datoteka:Johann_Joachim_Winckelmann_(Anton_von_Maron_1768).jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg/200px-Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg" width="200" height="277" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg/300px-Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg/400px-Johann_Joachim_Winckelmann_%28Anton_von_Maron_1768%29.jpg 2x" data-file-width="1890" data-file-height="2614"></a><br> 
<div class="thumbcaption">
<br>
<div class="magnify"><a href="/wiki/Datoteka:Johann_Joachim_Winckelmann_(Anton_von_Maron_1768).jpg" class="internal" title="Uvećaj"></a></div>
<a href="/w/index.php?title=Anton_von_Maron&amp;action=edit&amp;redlink=1" class="new" title="Anton von Maron (još nenapisan)">Anton von Maron</a>, <i>Portret <a href="/wiki/Johann_Joachim_Winckelmann" title="Johann Joachim Winckelmann">J. J. Wincklemanna</a></i>, prvog povjesničara umjetnosti.</div>
</div>
</div>
<p><b>Povijest umjetnosti</b> je <a href="/wiki/Znanost" class="mw-redirect" title="Znanost">znanost</a> koja proučava <a href="/wiki/Povijest" class="mw-redirect" title="Povijest">povijesni</a> razvoj <a href="/wiki/Likovna_umjetnost" title="Likovna umjetnost">likovnih umjetnosti</a> (<a href="/wiki/Arhitektura" title="Arhitektura">arhitektura</a>, <a href="/wiki/Slikarstvo" title="Slikarstvo">slikarstvo</a>, <a href="/wiki/Kiparstvo" class="mw-redirect" title="Kiparstvo">kiparstvo</a>, <a href="/wiki/Grafika" title="Grafika">grafika</a> i <a href="/wiki/Primijenjene_umjetnosti" class="mw-redirect" title="Primijenjene umjetnosti">primijenjene umjetnosti</a>). Bavi se istraživanjima odnosa između pojedinih umjetničkih djela, životom i stvaralaštvom pojedinih <a href="/wiki/Umjetnik" class="mw-redirect" title="Umjetnik">umjetnika</a>, opisivanjem sadržaja i oblika umjetničkih djela (<a href="/wiki/Ikonografija" title="Ikonografija">ikonografija</a>, <a href="/w/index.php?title=Ikonologija&amp;action=edit&amp;redlink=1" class="new" title="Ikonologija (još nenapisan)">ikonologija</a>) te proučavanjem odnosa među različitim <a href="/wiki/Kultura" title="Kultura">kulturama</a> uzimajući u obzir <a href="/wiki/Politika" title="Politika">političke</a>, <a href="/wiki/Dru%C5%A1tvo" title="Društvo">društvene</a>, <a href="/wiki/Religija" title="Religija">vjerske</a> i <a href="/wiki/Nacija" title="Nacija">nacionalne</a> čimbenike.</p>
<p></p>
<div id="toc" class="toc">
<div class="toctitle" lang="sh" dir="ltr">
<h2>Sadržaj/Садржај</h2>
<span class="toctoggle">&nbsp;[<a role="button" tabindex="0" class="togglelink">sakrij</a>]&nbsp;</span></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Nastanak_i_razvoj"><span class="tocnumber">1</span> <span class="toctext">Nastanak i razvoj</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="#Drevna_umjetnost"><span class="tocnumber">1.1</span> <span class="toctext">Drevna umjetnost</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-3"><span class="tocnumber">2</span> <span class="toctext">Renesansa</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Barok"><span class="tocnumber">3</span> <span class="toctext">Barok</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Romantizam"><span class="tocnumber">4</span> <span class="toctext">Romantizam</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#Impresionizam"><span class="tocnumber">5</span> <span class="toctext">Impresionizam</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#Umjetnost_20._stoljeća"><span class="tocnumber">6</span> <span class="toctext">Umjetnost 20. stoljeća</span></a>
<ul>
<li class="toclevel-2 tocsection-8"><a href="#Nadrealizam"><span class="tocnumber">6.1</span> <span class="toctext">Nadrealizam</span></a></li>
<li class="toclevel-2 tocsection-9"><a href="#Apstraktna_umjetnost"><span class="tocnumber">6.2</span> <span class="toctext">Apstraktna umjetnost</span></a></li>
<li class="toclevel-2 tocsection-10"><a href="#Ambrosie_Vollard"><span class="tocnumber">6.3</span> <span class="toctext">Ambrosie Vollard</span></a></li>
</ul>
</li>
<li class="toclevel-1 tocsection-11"><a href="#Umjetnost_u_Aziji"><span class="tocnumber">7</span> <span class="toctext">Umjetnost u Aziji</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Umjetnost_u_Africi"><span class="tocnumber">8</span> <span class="toctext">Umjetnost u Africi</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#Američka_domorodačka_umjetnost"><span class="tocnumber">9</span> <span class="toctext">Američka domorodačka umjetnost</span></a></li>
<li class="toclevel-1 tocsection-14"><a href="#Pacifička_umjetnost"><span class="tocnumber">10</span> <span class="toctext">Pacifička umjetnost</span></a></li>
<li class="toclevel-1 tocsection-15"><a href="#Vremenska_tablica"><span class="tocnumber">11</span> <span class="toctext">Vremenska tablica</span></a></li>
<li class="toclevel-1 tocsection-16"><a href="#Poveznice"><span class="tocnumber">12</span> <span class="toctext">Poveznice</span></a></li>
<li class="toclevel-1 tocsection-17"><a href="#Vanjske_veze"><span class="tocnumber">13</span> <span class="toctext">Vanjske veze</span></a></li>
</ul>
</div>
<p></p>
<h2><span class="mw-headline" id="Nastanak_i_razvoj">Nastanak i razvoj</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=1" class="mw-editsection-visualeditor" title="Uredi sekciju: Nastanak i razvoj">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=1" title="Uredi sekciju: Nastanak i razvoj">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:252px;"><a href="/wiki/Datoteka:Lascaux_painting.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Lascaux_painting.jpg/250px-Lascaux_painting.jpg" width="250" height="164" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Lascaux_painting.jpg/375px-Lascaux_painting.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Lascaux_painting.jpg/500px-Lascaux_painting.jpg 2x" data-file-width="720" data-file-height="472"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Lascaux_painting.jpg" class="internal" title="Uvećaj"></a></div>
Zidna slikarija životinja iz spilje <b><a href="/wiki/Lascaux" title="Lascaux">Lascaux</a></b> u Francuskoj</div>
</div>
</div>
<p>Zanimanje za spomenike javilo se <a href="/wiki/Antika" title="Antika">antici</a> (<a href="/wiki/Vitruvije" title="Vitruvije">Vitruvije</a>), potom je obnovljeno u <a href="/wiki/Renesansa" title="Renesansa">renesansi</a> (<a href="/wiki/Leon_Battista_Alberti" title="Leon Battista Alberti">Leon Battista Alberti</a>, <a href="/wiki/Lorenzo_Ghiberti" title="Lorenzo Ghiberti">Lorenzo Ghiberti</a> i dr.). Velik doprinos dali su pisci životopisa umjetnika kao <a href="/wiki/Giorgio_Vasari" title="Giorgio Vasari">Giorgio Vasari</a> ("<a href="/w/index.php?title=%C5%BDivoti&amp;action=edit&amp;redlink=1" class="new" title="Životi (još nenapisan)">Životi</a>", <a href="/wiki/1550." class="mw-redirect" title="1550.">1550.</a>), <a href="/w/index.php?title=J._von_Sandrart&amp;action=edit&amp;redlink=1" class="new" title="J. von Sandrart (još nenapisan)">J. von Sandrart</a> (<a href="/wiki/1675." class="mw-redirect" title="1675.">1675.</a>-79.) i dr.</p>
<p><a href="/w/index.php?title=Johann_Joachim_Wincklemann&amp;action=edit&amp;redlink=1" class="new" title="Johann Joachim Wincklemann (još nenapisan)">Johann Joachim Wincklemann</a> svojim djelom "Povijest umjetnosti staroga vijeka" iz <a href="/wiki/1764." class="mw-redirect" title="1764.">1764.</a> god. udario je temelje modernoj povijesti umjetnosti. Ocem moderne povijesti umjetnosti mnogi smatraju <a href="/w/index.php?title=Heinrich_W%C3%B6lfflin&amp;action=edit&amp;redlink=1" class="new" title="Heinrich Wölfflin (još nenapisan)">Heinricha Wölfflina</a> (1864.-1945.), koji je studirao kod Burckhardta in <a href="/wiki/Basel" title="Basel">Baselu</a>. On uvodi znanstveni pristup baziran na tri koncepta u povijest umjetnosti: najprije koristi <a href="/wiki/Psihologija" title="Psihologija">psihologiju</a>, potom uvodi <a href="/wiki/Komparacija" title="Komparacija">komparativnu</a> metodu, i na kraju proučava umjetnost sa stajališta <a href="/wiki/Narod" class="mw-disambig" title="Narod">naroda</a> i <a href="/wiki/Nacija" title="Nacija">nacija</a>.Tijekom stoljeća su se mijenjali stilovi vizualnih umjetnosti. Te razlike odražavaju promjene u vjerovanjima i tradicijama kojih su se ljudi prigržavali u sporedno sa razvojem njihova života. Mijenjali su se i materijali, a to je umjetnicima omogućavalo traganje za novim načinima izražavanja svijeta kojim su okruženi.</p>
<h3><span class="mw-headline" id="Drevna_umjetnost">Drevna umjetnost</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=2" class="mw-editsection-visualeditor" title="Uredi sekciju: Drevna umjetnost">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=2" title="Uredi sekciju: Drevna umjetnost">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>Najstariji umjetnički radovi obično su imali <a href="/wiki/Religija" title="Religija">religijsku</a> ili magijsku namjenu: predstaviti <a href="/wiki/Bog" title="Bog">boga</a>, naprimjer, ili donijeti lovcu sreću u prikradanju životinjama. U starom <a href="/wiki/Sumer" title="Sumer">Sumeru</a> (današnji <a href="/wiki/Irak" title="Irak">južni Irak</a>) razvila se bogata umjetnička tradicija tijekom <a href="/wiki/3000._pne." class="mw-redirect" title="3000. pne.">3. tisućljeća pne.</a> Skulpture su predstavljale sumerske vladare isklesane u tvrdom kamenu te moć i dostojanstvo. Zapadnoeuropska umjetnost izrasla je izravno iz tradicije drevnog <a href="/wiki/Mediteran" class="mw-redirect" title="Mediteran">mediteranskog</a> svijeta, naročito umjetnosti <a href="/wiki/Gr%C4%8Dka" title="Grčka">stare Grčke</a> i <a href="/wiki/Rim" title="Rim">Rima</a>. Osobito su skulpture nastale u ovim starim civilizacijama naravne, ili naturalističke, a usredočene su na <a href="/wiki/Ljudi" class="mw-redirect" title="Ljudi">ljudski</a> lik.</p>
<h2><span class="mw-headline" id="Renesansa">Renesansa</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=3" class="mw-editsection-visualeditor" title="Uredi sekciju: Renesansa">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=3" title="Uredi sekciju: Renesansa">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tleft">
<div class="thumbinner" style="width:202px;"><a href="/wiki/Datoteka:Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg/200px-Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg" width="200" height="272" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg/300px-Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg/400px-Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg 2x" data-file-width="577" data-file-height="785"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg" class="internal" title="Uvećaj"></a></div>
<a href="/wiki/Leonardo_da_Vinci" title="Leonardo da Vinci">Leonardo da Vinci</a>, Dama s hermelinom, <a href="/w/index.php?title=Czartoryski_Museum&amp;action=edit&amp;redlink=1" class="new" title="Czartoryski Museum (još nenapisan)">Czartoryski Museum</a>, <a href="/wiki/Krak%C3%B3w" class="mw-redirect" title="Kraków">Kraków</a></div>
</div>
</div>
<p>Nakon pada <a href="/wiki/Rimsko_carstvo" class="mw-redirect" title="Rimsko carstvo">Rimskog Carstva</a> <a href="/wiki/Kr%C5%A1%C4%87anstvo" class="mw-redirect" title="Kršćanstvo">krščćanska</a> je civilizacija, koja se počela razvijati u Europi, klasičnu umjetnost smatrala odveć poganskom. U <a href="/wiki/15._stolje%C4%87e" class="mw-redirect" title="15. stoljeće">15. stoljeću</a> su slikari, kipari i arhitekti počeli u umjetnosti oživljavati klasičnu tradiciju stvarajući vrlo naravna kršćanska umjetnička djela. Ovaj preporod nazvan je <a href="/wiki/Renesansa" title="Renesansa">renesansa</a>, prema <a href="/wiki/Francuska" title="Francuska">francuskoj</a> riječi koja znači &gt;&gt; ponovno rođenje&lt;&lt;. Javila se u <a href="/wiki/Italija" title="Italija">Italiji</a> otkuda se širila diljem Europe. Jedan od najutjecajnijih umjetnika bio je <a href="/wiki/Michelangelo" class="mw-redirect" title="Michelangelo">Michelangelo</a> (1475-1564).</p>
<dl>
<dd>
<div class="noprint relarticle mainarticle"><i>Glavni članak: <a href="/wiki/Renesansa" title="Renesansa">renesansa</a></i></div>
</dd>
</dl>
<ul>
<li><b>Perspektiva</b></li>
</ul>
<p>Talijan <a href="/w/index.php?title=Tomaso_Masaccio&amp;action=edit&amp;redlink=1" class="new" title="Tomaso Masaccio (još nenapisan)">Tomaso Masaccio</a> (<a href="/wiki/1401." class="mw-redirect" title="1401.">1401.</a>-<a href="/wiki/1428." class="mw-redirect" title="1428.">1428.</a>) bio je prvi slikar koji je nakon klasičnog razdoblja koristio <a href="/wiki/Perspektiva" title="Perspektiva">perspektivu</a>. Perspektiva stvara <a href="/wiki/Iluzija" title="Iluzija">iluziju</a> dubine iza ravne površine slike.</p>
<dl>
<dd>
<div class="noprint relarticle mainarticle"><i>Glavni članak: <a href="/wiki/Perspektiva" title="Perspektiva">perspektiva</a></i></div>
</dd>
</dl>
<ul>
<li><b>Svjetovna umjetnost</b></li>
</ul>
<p>Tijekom renesanse europski slikari raskinuli su sa starom tradicijom. Religijske teme, kao što su prizori iz <a href="/wiki/Biblija" title="Biblija">Biblije</a>, još uvijek su bile važne, no umjetnici su počeli bilježiti i prizore iz svakodnevnog života. Izgled slike ovisi o slikarskim materijalima. Prije pojave uljanih boja u <a href="/wiki/15._stolje%C4%87e" class="mw-redirect" title="15. stoljeće">15. stoljeću</a>, umjetnici su <a href="/wiki/Tempera" title="Tempera">temperom</a>, smjesom jajeta i pigmenta boje, radili izravno na gipsanoj podlozi. Omiljeni medij uskoro su postale <a href="/wiki/Uljane_boje" class="mw-redirect" title="Uljane boje">uljane boje</a>, koje su bile fleksibilnije i izgledale su dovršenije.</p>
<ul>
<li><b>Jajna tempera</b></li>
</ul>
<p><a href="/wiki/Jaje" title="Jaje">Jaje</a> (žumanjak ili žumanjak sa bjelanjkom) snažan je medij za boje, no ljepljivo je i brzo se suši pa se teško nanosi.</p>
<ul>
<li><b>Uljane boje</b></li>
</ul>
<p>Prednost ulja kao medija je njegovo sporije sušenje što umjetnicima omogućuje unošenje promjena tijekom rada.</p>
<ul>
<li><b>Vrijednost boje</b></li>
</ul>
<p>Određene boje, kao što je zlatna, uvijek su bile skuplje od ostalih. Do <a href="/wiki/17._stolje%C4%87e" class="mw-redirect" title="17. stoljeće">17. stoljeća</a> najskuplja je bila tamnoplava zato što se izrađivala od poludragog kamena, <i>lapis lazulia</i>.</p>
<h2><span class="mw-headline" id="Barok">Barok</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=4" class="mw-editsection-visualeditor" title="Uredi sekciju: Barok">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=4" title="Uredi sekciju: Barok">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Terminom &gt;&gt; <i><b>barok</b></i> &lt;&lt; označava se stil u europskoj umjetnosti 17. stoljeća. Nastao je u Rimu, središtu Katoličke crkve. Tijekom <a href="/wiki/16._stolje%C4%87e" class="mw-redirect" title="16. stoljeće">16. stoljeća</a> <a href="/wiki/Katoli%C4%8Dka_crkva" title="Katolička crkva">Katolička crkva</a> rascijepila se na <a href="/wiki/Rimokatoli%C4%8Dka_crkva" class="mw-redirect" title="Rimokatolička crkva">Rimokatoličku</a> i <a href="/wiki/Protestanti" class="mw-redirect" title="Protestanti">protestanske ogranke</a>. Od 17. stoljeća Katolička crkva koristila je umjetnost za širenje svog nauka. Da bi se svidjela gledatelju, promicala je umjetnički stil koji je bio teatralan i emocionalan. Od slikara se tražilo da pomoću svjetla i sjene stvara dramatične kontraste, a od <a href="/wiki/Kiparstvo" class="mw-redirect" title="Kiparstvo">kipara</a> da prikaže likove u dinamičnim položajima. Da bi postigli takve efekte, umjetnici su morali biti tehnički vrlo vješti. <a href="/wiki/Talijani" class="mw-redirect" title="Talijani">Talijanski</a> slikar, kipar i arhitekt <a href="/w/index.php?title=Gianlorenzo_Bernini&amp;action=edit&amp;redlink=1" class="new" title="Gianlorenzo Bernini (još nenapisan)">Gianlorenzo Bernini</a> (1598-1680) imao je nevjerovatan utjecaj na <a href="/wiki/Barok" title="Barok">baroknu umjetnost</a>. Imao je izuzetnu sposobnost izraziti jaku emociju i dramu u kamenu, oblikovanu tako da gledatelja potiće na jaču vjeru.</p>
<ul>
<li><b>Svijetlo i sjena</b></li>
</ul>
<div class="thumb tleft">
<div class="thumbinner" style="width:232px;"><a href="/wiki/Datoteka:Calling-of-st-matthew.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/14/Calling-of-st-matthew.jpg/230px-Calling-of-st-matthew.jpg" width="230" height="217" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/14/Calling-of-st-matthew.jpg/345px-Calling-of-st-matthew.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/14/Calling-of-st-matthew.jpg/460px-Calling-of-st-matthew.jpg 2x" data-file-width="1060" data-file-height="1001"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Calling-of-st-matthew.jpg" class="internal" title="Uvećaj"></a></div>
<a href="/wiki/Caravaggio" title="Caravaggio">Caravaggio</a>-<b>Krist poziva Mateja</b></div>
</div>
</div>
<p><i>.</i></p>
<p>Talijanski slikar <a href="/wiki/Caravaggio" title="Caravaggio">Michelangelo Caravaggio</a> (1573-1610) prikazuje trenutak kada <a href="/wiki/Krist" class="mw-redirect" title="Krist">Krist</a> poziva <a href="/w/index.php?title=Matej&amp;action=edit&amp;redlink=1" class="new" title="Matej (još nenapisan)">Mateja</a> da postane njegov učenik. Zraka svjetlosti obasjava Mateja, dok je Krist skriven u sjeni.</p>
<dl>
<dd>
<div class="noprint relarticle mainarticle"><i>Glavni članak: <a href="/wiki/Caravaggio" title="Caravaggio">Caravaggio</a></i></div>
</dd>
</dl>
<h2><span class="mw-headline" id="Romantizam">Romantizam</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=5" class="mw-editsection-visualeditor" title="Uredi sekciju: Romantizam">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=5" title="Uredi sekciju: Romantizam">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Početak <a href="/wiki/19._stolje%C4%87e" class="mw-redirect" title="19. stoljeće">19. stoljeća</a> u Europi je poznat kao razdoblje <a href="/wiki/Romantizam" title="Romantizam">romantizma</a>. To je djelomice bila reakcija na umjetnost <a href="/wiki/18._stolje%C4%87e" class="mw-redirect" title="18. stoljeće">18. stoljeća</a>, koja je naglašavala ravnotežu i red. Romantičarski umjetnici postavljali su pitanje čovjekova položaja u <a href="/wiki/Univerzum" class="mw-redirect" title="Univerzum">univerzumu</a>. Naglašavali su vrijednost ljudskih emocija i mašte, te slavili divlju snagu prirode na dramatičnim slikama <a href="/wiki/Krajolik" title="Krajolik">pejzaža</a>.</p>
<dl>
<dd>
<div class="noprint relarticle mainarticle"><i>Glavni članak: <a href="/wiki/Romantizam" title="Romantizam">romantizam</a></i></div>
</dd>
</dl>
<h2><span class="mw-headline" id="Impresionizam">Impresionizam</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=6" class="mw-editsection-visualeditor" title="Uredi sekciju: Impresionizam">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=6" title="Uredi sekciju: Impresionizam">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>To je škola slikanja koja se razvila u <a href="/wiki/Francuska" title="Francuska">Francuskoj</a> krajem 19. stoljeća. Umjetnici kao što su <a href="/wiki/Camille_Pissarro" title="Camille Pissarro">Camille Pissarro</a> (1830-1903) i <a href="/wiki/Claude_Monet" title="Claude Monet">Claude Monet</a> (1840-1926) i <a href="/wiki/Auguste_Renoir" class="mw-redirect" title="Auguste Renoir">Auguste Renoir</a> (1841-1919) slikali su svoje impresije kratkog vremenskog odsječka, a osobito promjene što ih izaziva sunčevo svjetlo. U početku su ih kritizirali, budući da su gledatelji očekivali slike s više detalja, no kasnije su postali vrlo utjecajni. Sredinom 19. stoljeća umjetnici su počeli raskidati s tradicijom koju su utemeljile prijašnje generacije. Dok su im prije njihovi zaštitnici, koji su ih plaćali, govorili što će slikati, oni su sad počeli stvarati ono što su željeli, a potom pokušavali svoje radove prodavati.</p>
<h2><span id="Umjetnost_20._stolje.C4.87a"></span><span class="mw-headline" id="Umjetnost_20._stoljeća">Umjetnost 20. stoljeća</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=7" class="mw-editsection-visualeditor" title="Uredi sekciju: Umjetnost 20. stoljeća">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=7" title="Uredi sekciju: Umjetnost 20. stoljeća">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Tijekom <a href="/wiki/20._stolje%C4%87e" class="mw-redirect" title="20. stoljeće">20. stoljeća</a> umjetnici su istraživali nove teorije o <a href="/wiki/Svijet" title="Svijet">svijetu</a>, <a href="/wiki/Religija" title="Religija">religiji</a> i <a href="/wiki/Mozak" title="Mozak">umu</a>. Oni su od javnosti tražili da se suprostavi stvarima koje bi željela odbaciti te istraživati brojne različite stilove. Nakon gotovo 2500 godina moć klasične umjetnosti bila je razorena. U periodu 20. st. velika se pozornost posvećuje <a href="/wiki/Sociologija" title="Sociologija">sociološkim</a>, sociološko-<a href="/wiki/Filozofija" title="Filozofija">filozofskim</a>, <a href="/wiki/Kultura" title="Kultura">kulturno</a>-filozofskim i kulturno-<a href="/wiki/Psihologija" title="Psihologija">psihološkim</a> pitanjima.</p>
<h3><span class="mw-headline" id="Nadrealizam">Nadrealizam</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=8" class="mw-editsection-visualeditor" title="Uredi sekciju: Nadrealizam">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=8" title="Uredi sekciju: Nadrealizam">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h3>
<div class="thumb tleft">
<div class="thumbinner" style="width:222px;"><a href="/wiki/Datoteka:Calligramme.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Calligramme.jpg/220px-Calligramme.jpg" width="220" height="277" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Calligramme.jpg/330px-Calligramme.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/9/99/Calligramme.jpg 2x" data-file-width="404" data-file-height="509"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Calligramme.jpg" class="internal" title="Uvećaj"></a></div>
<i><b>Kaligram</b></i></div>
</div>
</div>
<p>Fantastična umjetnost koju su tijekom <a href="/wiki/1920." class="mw-redirect" title="1920.">1920-ih</a> stvarali <a href="/wiki/Nadrealizam" title="Nadrealizam">nadrealisti</a> bavila se istraživanjem načina na koji radi <a href="/wiki/Mozak" title="Mozak">mozak</a>. Nove ideje ukazivale su na to da <a href="/wiki/%C4%8Covjek" title="Čovjek">čovjek</a> svjesno koristi samo vrlo mali dio svog mozga i da nije svjestan podsvjesne aktivnosti nad koje nema racionalne kontrole. Bizarne i snovite slike nadrealista, kao što je španjolski slikar <a href="/wiki/Salvador_Dali" class="mw-redirect" title="Salvador Dali">Salvador Dali</a> (1904-89), inspirirane su upravo tim idejama.</p>
<p>Veliki dio moderne umjetnosti stvoren je za izlaganje u <a href="/wiki/Muzej" title="Muzej">muzeju</a> ili <a href="/wiki/Galerija" title="Galerija">galeriji</a>, a ne za <a href="/wiki/Ku%C4%87a" title="Kuća">kuće</a>, <a href="/wiki/Pala%C4%8Da" class="mw-redirect" title="Palača">palače</a> ili <a href="/wiki/Crkva" class="mw-redirect" title="Crkva">crkve</a> kao što je to bilo u prošlosti. Često joj je namjera zbuniti, podrugivati se i provocirati svoju politiku a ne jasno pokazati svoje značenje</p>
<h3><span class="mw-headline" id="Apstraktna_umjetnost">Apstraktna umjetnost</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=9" class="mw-editsection-visualeditor" title="Uredi sekciju: Apstraktna umjetnost">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=9" title="Uredi sekciju: Apstraktna umjetnost">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h3>
<p><a href="/wiki/Apstraktna_umjetnost" title="Apstraktna umjetnost">Apstraktni umjetnici</a> ne prikazuju predmete iz svakodnevnog života. Ideju ili emociju sugerira sama boja i oblik. Tako apstraktna umjetnost postaje poput <a href="/wiki/Glazba" class="mw-redirect" title="Glazba">glazbe</a>, ni jedna ni druga ne prikazuju ništa što bi se moglo iskazati riječima, no obje mogu biti izražajne i pokretačke. Umjetnici <a href="/w/index.php?title=Jakcson_Pollock&amp;action=edit&amp;redlink=1" class="new" title="Jakcson Pollock (još nenapisan)">Jakcson Pollock</a> (1912-1956) i <a href="/wiki/Mark_Rothko" title="Mark Rothko">Mark Rothko</a> (1903-1970) dva su poznata apstraktna slikara.</p>
<h3><span class="mw-headline" id="Ambrosie_Vollard">Ambrosie Vollard</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=10" class="mw-editsection-visualeditor" title="Uredi sekciju: Ambrosie Vollard">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=10" title="Uredi sekciju: Ambrosie Vollard">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h3>
<p><a href="/wiki/Francuska" title="Francuska">Francuski</a> trgovac umjetninama <a href="/w/index.php?title=Ambrosie_Vollard&amp;action=edit&amp;redlink=1" class="new" title="Ambrosie Vollard (još nenapisan)">Ambrosie Vollard</a> (1865-1939) pokrenuo je kupnju, prodaju i izlaganja moderne umjetnosti. On je umjetnicima s početka 20. stoljeća davao iznimnu financijsku i stvaralačku slobodu da slikaju onako kako žele. Umjetnici kao što su <a href="/w/index.php?title=Paul_Cezaanne&amp;action=edit&amp;redlink=1" class="new" title="Paul Cezaanne (još nenapisan)">Paul Cezaanne</a> i <a href="/wiki/Henri_Matisse" title="Henri Matisse">Henri Matisse</a> postigli su uspjeh u Vollardovoj galeriji u <a href="/wiki/Pariz" title="Pariz">Parizu</a> početkom 20. stoljeća.</p>
<h2><span class="mw-headline" id="Umjetnost_u_Aziji">Umjetnost u Aziji</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=11" class="mw-editsection-visualeditor" title="Uredi sekciju: Umjetnost u Aziji">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=11" title="Uredi sekciju: Umjetnost u Aziji">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:102px;"><a href="/wiki/Datoteka:Hokusai-fuji-koryuu.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Hokusai-fuji-koryuu.png/100px-Hokusai-fuji-koryuu.png" width="100" height="258" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Hokusai-fuji-koryuu.png/150px-Hokusai-fuji-koryuu.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/15/Hokusai-fuji-koryuu.png/200px-Hokusai-fuji-koryuu.png 2x" data-file-width="335" data-file-height="864"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Hokusai-fuji-koryuu.png" class="internal" title="Uvećaj"></a></div>
<b>Kacušika Hokusai</b>, <i>Zmaj iznad Fujija</i>, 1834.</div>
</div>
</div>
<p>Tradicionalno je u <a href="/wiki/Azija" title="Azija">azijskoj</a> umjetnosti simbolično značenje, koje se krije iza teme slike, skulpture ili rezbarije, važnije od iluzije stvarnosti. U Kini, naprimjer, slike <a href="/wiki/Krajolik" title="Krajolik">krajolika</a> su stilitirane da bi izrazile idele religijske misli:prirodni sklad, mir i krepost. U Kini i <a href="/wiki/Japan" title="Japan">Japanu</a> <a href="/wiki/Kaligrafija" title="Kaligrafija">kaligrafija</a> se smatrala visokim umjetničkim oblikom. Natpisi su obično kratke, <a href="/wiki/Poezija" title="Poezija">poetske</a> situacije.</p>
<ul>
<li><b>Kineski krajolik</b></li>
</ul>
<p>U Kini se umjetnost slikanja razvila iz kaligrafije. Slikari krajolika slikali su <a href="/wiki/Kist" title="Kist">kistom</a> i <a href="/wiki/Tinta" title="Tinta">tintom</a> na <a href="/wiki/Papir" title="Papir">papiru</a> ili na <a href="/wiki/Svila" title="Svila">svili</a>. Nisu slikali prizore iz života. Vrlo su bili važni tijek i snaga poteza kista.</p>
<ul>
<li><b>Hokusai</b></li>
</ul>
<p><a href="/wiki/Katsushika_Hokusai" title="Katsushika Hokusai">Katsushika Hokusai</a> (葛飾北斎)(1760-1849) možda je najpoznatiji japanski <a href="/wiki/Litografija" title="Litografija">litograf</a>. Njegove poznate drvene rezbarije prikazuju krajolike, ali i prizore iz svakodnevnog života (zvane <i><b>ukiyo-e</b></i>). Njihove boje i kompozicija vrlo su izražajne.</p>
<ul>
<li>Minijature</li>
</ul>
<p>Tijekom trajanja <a href="/wiki/Mughalsko_Carstvo" class="mw-redirect" title="Mughalsko Carstvo">Mughalskog Carstva</a> (16.-17.st.) u Indiji je cvalo minijaturno figurativno slikarstvo. Karakteriziralo ga je bogastvo boja i izuzetna istančanost.</p>
<h2><span class="mw-headline" id="Umjetnost_u_Africi">Umjetnost u Africi</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=12" class="mw-editsection-visualeditor" title="Uredi sekciju: Umjetnost u Africi">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=12" title="Uredi sekciju: Umjetnost u Africi">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<dl>
<dd>
<div class="noprint relarticle mainarticle"><i>Glavni članak: <a href="/wiki/Afri%C4%8Dka_umjetnost" class="mw-redirect" title="Afrička umjetnost">Afrička umjetnost</a></i></div>
</dd>
</dl>
<div class="thumb tleft">
<div class="thumbinner" style="width:152px;"><a href="/wiki/Datoteka:Fang_mask_Louvre_MH65-104-1.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Fang_mask_Louvre_MH65-104-1.jpg/150px-Fang_mask_Louvre_MH65-104-1.jpg" width="150" height="290" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Fang_mask_Louvre_MH65-104-1.jpg/225px-Fang_mask_Louvre_MH65-104-1.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Fang_mask_Louvre_MH65-104-1.jpg/300px-Fang_mask_Louvre_MH65-104-1.jpg 2x" data-file-width="1500" data-file-height="2900"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Fang_mask_Louvre_MH65-104-1.jpg" class="internal" title="Uvećaj"></a></div>
<b>Fang maska</b> iz <a href="/wiki/Gabon" title="Gabon">Gabona</a>, 19. st. izložena u <a href="/wiki/Louvre" title="Louvre">Luvru</a></div>
</div>
</div>
<p>Afrička umjetnost ima dugu tradiciju, iako nepostojanje dokumenta otežava određivanje njezina povijesnog slijeda. Glavni umjetnički oblici su <a href="/w/index.php?title=Skulpture&amp;action=edit&amp;redlink=1" class="new" title="Skulpture (još nenapisan)">skulpture</a> i <a href="/wiki/Maska" title="Maska">maske</a>. Većina umjetnina, po svemu sudeći, ima <a href="/wiki/Religija" title="Religija">religijsku</a> ili obrednu namjenu. Najrazijenije tehnike bile su drvene rezbarije i <a href="/wiki/Bronza" title="Bronza">brončani</a> dijelovi.</p>
<ul>
<li><b>Kiparstvo</b></li>
</ul>
<p>Bogata kiparska tradicija u <a href="/wiki/Afrika" title="Afrika">zapadnoj Africi</a> započinje glinenim figurama koje su izrađivali pripadnici naroda <b>Nok</b> oko <a href="/wiki/500._pne." title="500. pne.">500. pne.</a> Oko <a href="/wiki/13._stolje%C4%87e" class="mw-redirect" title="13. stoljeće">13. stoljeća</a> nove ere <b>Ife</b> u <a href="/wiki/Nigerija" title="Nigerija">Nigeriji</a> počeli su izrađivati izvanredne brončane odljeve glava i figura, izuzetno realističkim stilom. To je vjerovatno utjecalo na skulpture izrađivane u <a href="/wiki/Benin" title="Benin">Beninu</a>, Nigerija, od 16. do 19. stoljeća.</p>
<ul>
<li><b>Maske</b></li>
</ul>
<p>Afričke maske mogu predstavljati neki <a href="/wiki/Duh" class="mw-disambig" title="Duh">duh</a> ili pretka ili mogu biti posve dekorativne naravi. Njihovo značenje dolazi od maskerade (<a href="/wiki/Ples" title="Ples">ples</a>, <a href="/wiki/Drama" title="Drama">drama</a> ili <a href="/wiki/Glazba" class="mw-redirect" title="Glazba">glazba</a>) čiji su sastavni dio. Važni materijali su <a href="/wiki/Drvo" class="mw-redirect" title="Drvo">drvo</a>, <a href="/w/index.php?title=Biserje&amp;action=edit&amp;redlink=1" class="new" title="Biserje (još nenapisan)">biserje</a>, <a href="/wiki/Slonova%C4%8Da" title="Slonovača">slonovača</a> i <a href="/wiki/%C5%A0koljke" title="Školjke">školjke</a>.</p>
<h2><span id="Ameri.C4.8Dka_domoroda.C4.8Dka_umjetnost"></span><span class="mw-headline" id="Američka_domorodačka_umjetnost">Američka domorodačka umjetnost</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=13" class="mw-editsection-visualeditor" title="Uredi sekciju: Američka domorodačka umjetnost">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=13" title="Uredi sekciju: Američka domorodačka umjetnost">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="/wiki/Datoteka:Codex_Magliabechiano_(141_cropped).jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Codex_Magliabechiano_%28141_cropped%29.jpg/220px-Codex_Magliabechiano_%28141_cropped%29.jpg" width="220" height="232" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Codex_Magliabechiano_%28141_cropped%29.jpg/330px-Codex_Magliabechiano_%28141_cropped%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/53/Codex_Magliabechiano_%28141_cropped%29.jpg/440px-Codex_Magliabechiano_%28141_cropped%29.jpg 2x" data-file-width="1000" data-file-height="1054"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Codex_Magliabechiano_(141_cropped).jpg" class="internal" title="Uvećaj"></a></div>
Prinošenje ljudske žrtve bogovima</div>
</div>
</div>
<p>Sofisticirane domorodačke američke društvene zajednice, kao što su <a href="/wiki/Azteci" class="mw-redirect" title="Azteci">Azteci</a> i <a href="/wiki/Maya" title="Maya">Maya</a> u <a href="/wiki/Meksiko" title="Meksiko">Meksiku</a> te <a href="/wiki/Inka" title="Inka">Inka</a> u <a href="/wiki/Peru" title="Peru">Peruu</a>, stvorile su osebujne umjetničke i arhitektonske stilove. Gotovo 3000 godina <a href="/wiki/Nomadi" class="mw-redirect" title="Nomadi">nomadski narodi</a> u <a href="/wiki/Sjeverna_Amerika" title="Sjeverna Amerika">Sjevernoj</a> i <a href="/wiki/Ju%C5%BEna_Amerika" title="Južna Amerika">Južnoj Americi</a> označavali su na tlu &gt;&gt; skulpture &lt;&lt; inspirirane <a href="/wiki/Strah" title="Strah">strahom</a> ili stvarali zemljane nasipe čiji oblici se mogu vidjeti samo visoko iz zraka.</p>
<ul>
<li><b>Totemski štapovi</b></li>
</ul>
<p>Složena oblika i vrlo vješto izrezbareni, <a href="/w/index.php?title=Totemi&amp;action=edit&amp;redlink=1" class="new" title="Totemi (još nenapisan)">totemski štapovi</a> prikazuju status mnogih poglavica <a href="/w/index.php?title=Sjevernoameri%C4%8Dki_Indijanci&amp;action=edit&amp;redlink=1" class="new" title="Sjevernoamerički Indijanci (još nenapisan)">sjevernoameričkih Indijanaca</a>.</p>
<ul>
<li><b>Slikarije u pijesku</b></li>
</ul>
<p>Na jugozapadu su sjevernoamerički Indijanci na glatku podlogu lagano sipali obojeni <a href="/wiki/Pijesak" title="Pijesak">pijesak</a> ili mljeveno kamenje te tako stvarali kratkotrajne simbolične slike obredne važnosti.</p>
<h2><span id="Pacifi.C4.8Dka_umjetnost"></span><span class="mw-headline" id="Pacifička_umjetnost">Pacifička umjetnost</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=14" class="mw-editsection-visualeditor" title="Uredi sekciju: Pacifička umjetnost">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=14" title="Uredi sekciju: Pacifička umjetnost">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:152px;"><a href="/wiki/Datoteka:Moai_Rano_raraku.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Moai_Rano_raraku.jpg/150px-Moai_Rano_raraku.jpg" width="150" height="200" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Moai_Rano_raraku.jpg/225px-Moai_Rano_raraku.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Moai_Rano_raraku.jpg/300px-Moai_Rano_raraku.jpg 2x" data-file-width="1944" data-file-height="2592"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Datoteka:Moai_Rano_raraku.jpg" class="internal" title="Uvećaj"></a></div>
<a href="/wiki/Moai" title="Moai">Moai</a> kip</div>
</div>
</div>
<p>Doticaj s europskim <a href="/wiki/Kr%C5%A1%C4%87anstvo" class="mw-redirect" title="Kršćanstvo">kršćanskim kulturama</a> od 18. stoljeća naovamo imao je pogubno dijelovanje na stari lokalni način života <a href="/wiki/Pacifik" class="mw-redirect" title="Pacifik">pacifičkih otoka</a>. Najveći dio umjetnina je izgubljen, iako je sačuvano nekoliko izuzetnih skulptura zahvaljujući njihovoj postojanosti. Među važnim umjetničkim oblicima pacifičkog područja su drvene i kamene rezbarije, slikarije na kori drveta, maske duhova i složeno tetoviranje tijela.</p>
<ul>
<li><b>Kipovi na Uskršnjem otoku</b></li>
</ul>
<p>Između <a href="/wiki/400." class="mw-redirect" title="400.">400.</a> i <a href="/wiki/1680." class="mw-redirect" title="1680.">1680.</a> ljudi na <a href="/wiki/Uskr%C5%A1nji_otok" class="mw-redirect" title="Uskršnji otok">Uskršnjem otoku</a> oblikovali su od <a href="/wiki/Vulkan" title="Vulkan">vulkanskih stijena</a> goleme glave visoke do 12 m. One slave uspomenu na božanske pretke plemenskih poglavica.</p>
<p><br>
<i>Danas se odvojeno proučava</i>:</p>
<div style="-moz-column-count:2; column-count:2;">
<ul>
<li>povijest <a href="/w/index.php?title=Zapadna_umjetnost&amp;action=edit&amp;redlink=1" class="new" title="Zapadna umjetnost (još nenapisan)">zapadne umjetnosti</a> (Europa, Sjeverna Amerika i Australija)</li>
<li><a href="/wiki/Afri%C4%8Dka_umjetnost" class="mw-redirect" title="Afrička umjetnost">afrička umjetnost</a></li>
<li><a href="/w/index.php?title=Azijska_umjetnost&amp;action=edit&amp;redlink=1" class="new" title="Azijska umjetnost (još nenapisan)">azijska umjetnost</a></li>
<li><a href="/w/index.php?title=Umjetnost_pred-kolumbovske_amerike&amp;action=edit&amp;redlink=1" class="new" title="Umjetnost pred-kolumbovske amerike (još nenapisan)">umjetnost pred-kolumbovske amerike</a>.</li>
</ul>
</div>
<h2><span class="mw-headline" id="Vremenska_tablica">Vremenska tablica</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=15" class="mw-editsection-visualeditor" title="Uredi sekciju: Vremenska tablica">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=15" title="Uredi sekciju: Vremenska tablica">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<table class="wikitable">
<tbody><tr>
<th style="background-color:silver">Godine</th>
<th style="background-color:silver">Povijesne značajke</th>
</tr>
<tr>
<td><b>30.000. pne.</b></td>
<td>Nastala najstarija poznata umjetnička djela.</td>
</tr>
<tr>
<td><b>30.000-10.000. pne.</b></td>
<td><a href="/wiki/Spilja" title="Spilja">Spiljske</a> slikarije</td>
</tr>
<tr>
<td>oko <a href="/wiki/500._pne." title="500. pne.">500. pne.</a></td>
<td>Vjerno prikazane ljudske figure koje je stvorio narod Nok u zapadnoj Africi.</td>
</tr>
<tr>
<td><a href="/wiki/100._pne." title="100. pne.">100. pne.</a> - <a href="/wiki/300." class="mw-redirect" title="300.">300.</a> n.e.</td>
<td><a href="/wiki/Rimsko_Carstvo" title="Rimsko Carstvo">Rimsko Carstvo</a> širi klasičnu umjetnost diljem Europe.</td>
</tr>
<tr>
<td><a href="/wiki/618." class="mw-redirect" title="618.">618.</a> - <a href="/wiki/907." class="mw-redirect" title="907.">907.</a></td>
<td><a href="/wiki/Dinastija_Tang" title="Dinastija Tang">Dinastija Tang</a>, Kina: razvija se velika tradicija slikanja krajolika.</td>
</tr>
<tr>
<td><a href="/wiki/15._stolje%C4%87e" class="mw-redirect" title="15. stoljeće">15. stoljeće</a></td>
<td>Početak <a href="/wiki/Renesansa" title="Renesansa">renesanse</a> u Europi.</td>
</tr>
<tr>
<td><a href="/wiki/16._stolje%C4%87e" class="mw-redirect" title="16. stoljeće">16. stoljeće</a></td>
<td>Mughalska dinastija ima vlast u Indiji te se masovno širilo <i>minijaturno figurativno slikarstvo.</i></td>
</tr>
<tr>
<td><a href="/wiki/17._stolje%C4%87e" class="mw-redirect" title="17. stoljeće">17. stoljeće</a></td>
<td>Zlatno doba slikarstva u <a href="/wiki/Nizozemska" title="Nizozemska">Nizozemskoj</a>.</td>
</tr>
<tr>
<td><a href="/wiki/19._stolje%C4%87e" class="mw-redirect" title="19. stoljeće">19. stoljeće</a></td>
<td>Izumljena <a href="/wiki/Fotografija" title="Fotografija">fotografija</a>.</td>
</tr>
<tr>
<td><a href="/wiki/1860." class="mw-redirect" title="1860.">1860.</a>-<a href="/wiki/1890." class="mw-redirect" title="1890.">1890.</a></td>
<td>U Francuskoj se razvija <a href="/wiki/Impresionizam" title="Impresionizam">impresionizam</a>.</td>
</tr>
<tr>
<td><a href="/wiki/20._stolje%C4%87e" class="mw-redirect" title="20. stoljeće">20. stoljeće</a></td>
<td>Vrijeme nevjerovatne raznolikosti stilova u vizualnim umjetnostima, a među njima su <a href="/wiki/Kubizam" title="Kubizam">kubizam</a> (1907-1920) apstraktna umjetnost (1910-1950-ih), nadrealizam (1920-ih) i pop-art (sredina 1950-ih).</td>
</tr>
</tbody></table>
<p><br></p>
<h2><span class="mw-headline" id="Poveznice">Poveznice</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=16" class="mw-editsection-visualeditor" title="Uredi sekciju: Poveznice">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=16" title="Uredi sekciju: Poveznice">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><a href="/wiki/Likovna_kultura" class="mw-redirect" title="Likovna kultura">Vizualna kultura</a></li>
<li><a href="/w/index.php?title=Teorija_umjetnosti&amp;action=edit&amp;redlink=1" class="new" title="Teorija umjetnosti (još nenapisan)">Teorija umjetnosti</a></li>
<li><a href="/w/index.php?title=Umjetni%C4%8Dka_kritika&amp;action=edit&amp;redlink=1" class="new" title="Umjetnička kritika (još nenapisan)">Umjetnička kritika</a></li>
<li><a href="/wiki/Estetika" title="Estetika">Estetika</a></li>
<li><a href="/w/index.php?title=Povijest_arhitekture&amp;action=edit&amp;redlink=1" class="new" title="Povijest arhitekture (još nenapisan)">Povijest arhitekture</a></li>
<li><a href="/w/index.php?title=Umjetnost_po_dr%C5%BEavama&amp;action=edit&amp;redlink=1" class="new" title="Umjetnost po državama (još nenapisan)">Umjetnost po državama</a></li>
<li><a href="/wiki/Postmoderna" class="mw-redirect" title="Postmoderna">Postmoderna</a></li>
</ul>
<h2><span class="mw-headline" id="Vanjske_veze">Vanjske veze</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Historija_umjetnosti&amp;veaction=edit&amp;section=17" class="mw-editsection-visualeditor" title="Uredi sekciju: Vanjske veze">uredi - уреди</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Historija_umjetnosti&amp;action=edit&amp;section=17" title="Uredi sekciju: Vanjske veze">uredi izvor</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="infobox sisterproject" style="width: 300px">
<div style="float: left;">
<div class="floatnone"><a href="https://commons.wikimedia.org/wiki/Category:Art_history" title="commons:Category:Art history"><img alt="Commons-logo.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png" width="15" height="20" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/23px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png 2x" data-file-width="1024" data-file-height="1376"></a></div>
</div>
<div style="margin-left: 20px;"><i><b><a href="https://commons.wikimedia.org/wiki/Category:Art_history" class="extiw" title="commons:Category:Art history">Historija umjetnosti</a></b></i> na <a href="https://commons.wikimedia.org/wiki/Glavna_stranica_-_%D0%93%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" class="extiw" title="commons:Glavna stranica - Главна страница">Wikimedijinoj ostavi</a></div>
</div>
<p><b>Općenito</b></p>
<ul>
<li><i><a rel="nofollow" class="external text" href="http://www.sil.si.edu/digitalcollections/art-design/artandartistfiles/">Dokumenti o umjetnosti i umjetniku u Smithsonian Libraries Collections (engl.)</a></i></li>
<li><a rel="nofollow" class="external text" href="http://witcombe.sbc.edu/ARTHLinks.html">Internet izvori o povijesti umjetnosti</a> internetske poveznice po umjetničkim razdobljima (engl.)</li>
</ul>
<p><b>Kronologije</b></p>
<ul>
<li><a rel="nofollow" class="external text" href="http://metmuseum.org/toah/splash.htm"><i>Kronologija povijesti umjetnosti</i></a> iz Metropolitan muzeja, New York.</li>
<li><a rel="nofollow" class="external text" href="http://www.historyexplorer.net/?Art_History_Timeline">Kronologija Povijesti umjetnosti</a> na historyexplorer.net</li>
</ul>
<p><b>Slike</b></p>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.vads.ahds.ac.uk/index.php">Visual Arts Data Service (VADS)</a> online baza podataka s preko 100,000 slika likovnih umjetnosti, za slobodnu edukaciju.</li>
<li><a rel="nofollow" class="external text" href="http://worldimages.sjsu.edu/">WorldImages</a> online baza podataka s preko 60,000 slika vizualnih umjetnosti i komunikacija.</li>
</ul>
<p><b>Podgategorije</b></p>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.smarthistory.org/blog">smARThistory</a> podgategorije i blog od dva profesora povijesti umjetnosti.</li>
</ul>
<p><b>Povjesničari umjetnosti</b></p>
<ul>
<li><a rel="nofollow" class="external text" href="http://www.dictionaryofarthistorians.org/">Biografski rječnik povjesničara umjetnosti</a></li>
</ul>
<table class="navbox" style="border-spacing:0">
<tbody><tr>
<td style="padding:2px">
<table class="nowraplinks collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit" id="collapsibleTable0">
<tbody><tr>
<th scope="col" class="navbox-title" colspan="2"><span class="collapseButton">[<a id="collapseButton0" href="#">sakrij</a>]</span>
<div class="plainlinks hlist navbar mini">
<ul>
<li class="nv-view"><a href="/wiki/%C5%A0ablon:Zapadna_umjetnost" title="Šablon:Zapadna umjetnost"><span title="View this template" style=";;background:none transparent;border:none;">v</span></a></li>
<li class="nv-talk"><a href="/wiki/Razgovor_o_%C5%A1ablonu:Zapadna_umjetnost" title="Razgovor o šablonu:Zapadna umjetnost"><span title="Discuss this template" style=";;background:none transparent;border:none;">r</span></a></li>
<li class="nv-edit"><a class="external text" href="//sh.wikipedia.org/w/index.php?title=%C5%A0ablon:Zapadna_umjetnost&amp;action=edit"><span title="Edit this template" style=";;background:none transparent;border:none;">u</span></a></li>
</ul>
</div>
<div style="font-size:114%"><a href="/wiki/Razdoblja_i_pravci_zapadne_umjetnosti" class="mw-redirect" title="Razdoblja i pravci zapadne umjetnosti">Periodi i pravci zapadne umjetnosti</a></div>
</th>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group"><a href="/wiki/Stari_vijek" title="Stari vijek">Stari vijek</a></th>
<td class="navbox-list navbox-odd" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Egejska_umjetnost" title="Egejska umjetnost">egejska umjetnost</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Etru%C5%A1%C4%8Danska_umjetnost" class="mw-redirect" title="Etruščanska umjetnost">etruščanska umjetnost</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Umjetnost_stare_Gr%C4%8Dke" class="mw-redirect" title="Umjetnost stare Grčke">umjetnost stare Grčke</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Umjetnost_starog_Rima" class="mw-redirect" title="Umjetnost starog Rima">umjetnost starog Rima</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Ranokr%C5%A1%C4%87anska_umjetnost" class="mw-redirect" title="Ranokršćanska umjetnost">ranokršćanska umjetnost</a></div>
</td>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group"><a href="/wiki/Srednji_vijek" title="Srednji vijek">Srednji vijek</a></th>
<td class="navbox-list navbox-even" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Bizantska_umjetnost" title="Bizantska umjetnost">bizantska umjetnost</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Predromanika" title="Predromanika">predromanika</a> <small>(<a href="/wiki/Karolin%C5%A1ka_renesansa" title="Karolinška renesansa">karolinška renesansa</a>, <a href="/wiki/Otonska_renesansa" title="Otonska renesansa">otonska renesansa</a>, <a href="/w/index.php?title=Starohrvatska_umjetnost&amp;action=edit&amp;redlink=1" class="new" title="Starohrvatska umjetnost (još nenapisan)">starohrvatska umjetnost</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Romanika" title="Romanika">romanika</a> <small>(<a href="/wiki/Romani%C4%8Dka_arhitektura" title="Romanička arhitektura">arhitektura romanike</a>, <a href="/wiki/Kiparstvo_romanike" title="Kiparstvo romanike">kiparstvo romanike</a>, <a href="/wiki/Slikarstvo_romanike" title="Slikarstvo romanike">slikarstvo romanike</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Gotika" title="Gotika">gotika</a> <small>(<a href="/wiki/Arhitektura_gotike" class="mw-redirect" title="Arhitektura gotike">arhitektura gotike</a>, <a href="/wiki/Kiparstvo_gotike" title="Kiparstvo gotike">kiparstvo gotike</a>, <a href="/wiki/Slikarstvo_gotike" title="Slikarstvo gotike">slikarstvo gotike</a>)</small></div>
</td>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group"><a href="/wiki/Novi_vijek" title="Novi vijek">Novi vijek</a></th>
<td class="navbox-list navbox-odd" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Renesansa" title="Renesansa">renesansa</a> <small>(<a href="/wiki/Rana_renesansa" title="Rana renesansa">rana</a>, <a href="/wiki/Visoka_renesansa" title="Visoka renesansa">visoka</a>, <a href="/wiki/Sjevernoevropska_renesansa" title="Sjevernoevropska renesansa">sjevernoevropska</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Manirizam" title="Manirizam">manirizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Barok" title="Barok">barok</a> <small>(<a href="/wiki/Barokna_arhitektura" title="Barokna arhitektura">barokna arhitektura</a>, <a href="/wiki/Barokno_kiparstvo" title="Barokno kiparstvo">barokno kiparstvo</a>, <a href="/wiki/Barokno_slikarstvo" title="Barokno slikarstvo">barokno slikarstvo</a>, <a href="/wiki/Barokna_glazba" class="mw-redirect" title="Barokna glazba">barokna glazba</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Rokoko" title="Rokoko">rokoko</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Neoklasicizam" title="Neoklasicizam">neoklasicizam</a> <small>(<a href="/wiki/Directoire" title="Directoire">directoire</a>, <a href="/wiki/Ampir" title="Ampir">ampir</a>, <a href="/wiki/Bidermajer" title="Bidermajer">bidermajer</a>)</small></div>
</td>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group"><a href="/wiki/Modernizam" title="Modernizam">Modernizam</a></th>
<td class="navbox-list navbox-even" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Romantizam" title="Romantizam">romantizam</a> <small>(<a href="/w/index.php?title=Knji%C5%BEevnost_romantizma&amp;action=edit&amp;redlink=1" class="new" title="Književnost romantizma (još nenapisan)">književnost romantizma</a>, <a href="/wiki/Slikarstvo_romantizma" title="Slikarstvo romantizma">slikarstvo romantizma</a>, <a href="/wiki/Romantizam_(muzika)" title="Romantizam (muzika)">muzika romantizma</a>, <a href="/wiki/Historicizam" title="Historicizam">historicizam</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Prerafaeliti" title="Prerafaeliti">prerafaeliti</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Realizam" class="mw-disambig" title="Realizam">realizam</a> <small>(<a href="/wiki/Realizam_(knji%C5%BEevnost)" title="Realizam (književnost)">književnost</a>, <a href="/w/index.php?title=Realizam_(likovna_umjetnost)&amp;action=edit&amp;redlink=1" class="new" title="Realizam (likovna umjetnost) (još nenapisan)">likovna umjetnost</a>, <a href="/w/index.php?title=Realizam_(glazbena_umjetnost)&amp;action=edit&amp;redlink=1" class="new" title="Realizam (glazbena umjetnost) (još nenapisan)">glazbena umjetnost</a>, <a href="/wiki/Verizam" title="Verizam">verizam</a>)</small> <a href="/wiki/Naturalizam" title="Naturalizam">naturalizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Impresionizam" title="Impresionizam">impresionizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Postimpresionizam" title="Postimpresionizam">postimpresionizam</a> <small>(<a href="/w/index.php?title=Sintetizam&amp;action=edit&amp;redlink=1" class="new" title="Sintetizam (još nenapisan)">sintetizam</a>, <a href="/wiki/Poentilizam" title="Poentilizam">poentilizam</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Simbolizam" title="Simbolizam">simbolizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Parnasovstvo" title="Parnasovstvo">parnasovstvo</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Arts_and_Crafts" title="Arts and Crafts">Arts and Crafts</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Secesija" class="mw-disambig" title="Secesija">secesija</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/w/index.php?title=Be%C4%8Dka_moderna&amp;action=edit&amp;redlink=1" class="new" title="Bečka moderna (još nenapisan)">bečka moderna</a></div>
</td>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group"><a href="/wiki/20._vijek" title="20. vijek">20. vijek</a></th>
<td class="navbox-list navbox-odd" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Fovizam" title="Fovizam">fovizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Ekspresionizam" title="Ekspresionizam">ekspresionizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Naiva" title="Naiva">naiva</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Kubizam" title="Kubizam">kubizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Orfizam" class="mw-disambig" title="Orfizam">orfizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Vorticizam" title="Vorticizam">vorticizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Purizam" class="mw-disambig" title="Purizam">purizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Internacionalni_stil" title="Internacionalni stil">internacionalni stil</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Apstraktna_umjetnost" title="Apstraktna umjetnost">apstraktna umjetnost</a> <small>(<a href="/wiki/Suprematizam" title="Suprematizam">suprematizam</a>, <a href="/wiki/De_Stijl" title="De Stijl">De Stijl</a>, <a href="/wiki/Konstruktivizam_(umjetnost)" class="mw-redirect" title="Konstruktivizam (umjetnost)">konstruktivizam</a>, <a href="/w/index.php?title=Sinkromizam&amp;action=edit&amp;redlink=1" class="new" title="Sinkromizam (još nenapisan)">sinkromizam</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Futurizam" title="Futurizam">futurizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Dadaizam" title="Dadaizam">dadaizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Metafizi%C4%8Dko_slikarstvo" title="Metafizičko slikarstvo">metafizičko slikarstvo</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Nadrealizam" title="Nadrealizam">nadrealizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Apstraktni_ekspresionizam" title="Apstraktni ekspresionizam">apstraktni ekspresionizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Kineti%C4%8Dka_umjetnost" title="Kinetička umjetnost">kinetička umjetnost</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Pop_art" class="mw-redirect" title="Pop art">pop art</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Op_art" title="Op art">op art</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Ta%C5%A1izam" title="Tašizam">tašizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Informel" title="Informel">informel</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/w/index.php?title=Neorealizam&amp;action=edit&amp;redlink=1" class="new" title="Neorealizam (još nenapisan)">neorealizam</a> <small>(<a href="/w/index.php?title=Precizionizam&amp;action=edit&amp;redlink=1" class="new" title="Precizionizam (još nenapisan)">precizionizam</a>, <a href="/wiki/Fotorealizam" title="Fotorealizam">fotorealizam</a>)</small> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Minimalizam" title="Minimalizam">minimalizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Konceptualna_umjetnost" title="Konceptualna umjetnost">konceptualna umjetnost</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Land_art" title="Land art">Land art</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Postmoderna" class="mw-redirect" title="Postmoderna">postmoderna</a></div>
</td>
</tr>
<tr style="height:2px">
<td colspan="2"></td>
</tr>
<tr>
<th scope="row" class="navbox-group">Povezano</th>
<td class="navbox-list navbox-even" style="text-align:left;border-left-width:2px;border-left-style:solid;width:100%;padding:0px">
<div style="padding:0em 0.25em"><a href="/wiki/Larpurlartizam" title="Larpurlartizam">larpurlartizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/w/index.php?title=Esteticizam&amp;action=edit&amp;redlink=1" class="new" title="Esteticizam (još nenapisan)">esteticizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/w/index.php?title=Dekadentizam&amp;action=edit&amp;redlink=1" class="new" title="Dekadentizam (još nenapisan)">dekadentizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Avangarda" title="Avangarda">avangarda</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Funkcionalizam" title="Funkcionalizam">funkcionalizam</a> &nbsp;<span style="font-weight:bold;">•</span> <a href="/wiki/Eklekticizam" title="Eklekticizam">eklekticizam</a></div>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>


<!-- 
NewPP limit report
Parsed by mw1333
Cached time: 20180512031637
Cache expiry: 1900800
Dynamic content: false
CPU time usage: 0.092 seconds
Real time usage: 0.143 seconds
Preprocessor visited node count: 589/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 24467/2097152 bytes
Template argument size: 138/2097152 bytes
Highest expansion depth: 4/40
Expensive parser function count: 0/500
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
Lua time usage: 0.007/10.000 seconds
Lua memory usage: 746 KB/50 MB
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%   44.884      1 -total
 76.32%   34.254      1 Šablon:Zapadnaumjetnost
 56.86%   25.523      1 Šablon:Navbox
 18.34%    8.231      5 Šablon:Glavni
  5.02%    2.254     48 Šablon:·
  3.78%    1.695      1 Šablon:Commonscat
-->
</div>
<!-- Saved in parser cache with key shwiki:pcache:idhash:43893-0!canonical and timestamp 20180512031637 and revision id 1729269
 -->
<noscript><img src="//sh.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt="" title="" width="1" height="1" style="border: none; position: absolute;" /></noscript></div>					<div class="printfooter">
						Dobavljeno iz "<a dir="ltr" href="https://sh.wikipedia.org/w/index.php?title=Historija_umjetnosti&amp;oldid=1729269">https://sh.wikipedia.org/w/index.php?title=Historija_umjetnosti&amp;oldid=1729269</a>"					</div>
				<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Posebno:Kategorije" title="Posebno:Kategorije">Kategorija</a>: <ul><li><a href="/wiki/Kategorija:Historija_umjetnosti" title="Kategorija:Historija umjetnosti">Historija umjetnosti</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>


