<body background="111.jpg">
<h1 align="center"><img  src="/LOGO.png"  width="200" />


<h5 align="center">
Email: softicart@hotmail.com  <br>
Adresa: Trg Alije Izetbegovica 1 <br>
Kontakt: +387 33 541-560 
</h5>

<br>
<br>
<br>
<br>
<br>


<h5 align="center">
Ukoliko imate problema sa registracijom ili Vam je potrebna hitna dostava, molimo Vas da nas kontaktirate telefonom kako bi poručili željeni proizvod! Za narudžbu proizvoda telefonskim putem neophodno je da zapamtite naziv artikla koji želite kupiti!        
<br>
<br>
Hvala na povjerenju!  
</h5>
