<div class="container">

<h1>Softic ART </h1>
<div class="jumbotron">
Slike
</div>
<div class="row">
<div class="col-md-12">

</div> 
</div>

<div class="row">
<div class="col-md-4">
<p> ovdje ide slike </p>
</div>

<div class="col-md-4">
<p>ovdje ide slike</p>
</div>
<div class="col-md-4">
<p> ovdje ide slike</p>
</div>


</div> 
<hr>
