<div class="container">

<body background="2.png">


<br>
<img src="/ART.png"  width="130" />
<img src="/palette.png"  width="130" />


<hr>

<div class="row">
<div class="col-md-12">

<img src="/pan.jpg"  width="1100" />

</div> 
</div>

<br>
<br>

<div class="row">
<div class="col-md-4">

<img src="/cesma.png"  width="300" />

</div>


<div class="col-md-4">

<img src="/haso.jpeg"  width="310"  />

</div>

<div class="col-md-4">
<img src="/drvo.jpg"  width="335" />
</div>


</div>

<br>

<hr>

<div class="jumbotron">


<p align="left">Mail: &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Telefon: &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Adresa: </p> 
softicart@hotmail.com &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; +387 33 541-560 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Trg Alije Izetbegovića 3
</div>
<div class="row">
<div class="col-md-12">
</div>
</div>


</div> 
<hr>
