<div class="container">

<body background="2.png">




<h1>Softic ART </h1>
<hr>
<div class="jumbotron">
Slike
</div>
<div class="row">
<div class="col-md-12">

</div> 
</div>

<br>


<div class="row">
<div class="col-md-4">

<img src="/45421.jpg"  width="300" />

</div>


<div class="col-md-4">
<div class="jumbotron">
<p>Slike</p>
</div>
</div>

<div class="col-md-4">
<div class="jumbotron">
<p>Slike</p>
</div>
</div>


</div>

<br>

<hr>

<div class="jumbotron">

<p align="left">Mail: &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Telefon: &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Adresa: </p> 
softicart@hotmail.com &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; +387 33 541-560 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Trg Alije Izetbegovića 3
</div>
<div class="row">
<div class="col-md-12">
</div>
</div>


</div> 
<hr>
