<body background="111.jpg">
<h1 align="center"><img  src="/LOGO.png"  width="200" />



<h1 align="center">Cjenovnik </h1>
<br>


<h2 align="center">Tehnike slikanja:</h2>

<h5 align="center">
1.Uljane boje <br>
2.Akvarel boje <br>
3.Tempere	<br>
4.Pastel<br>
5.Kombinovane tehnike </h5>
<br>
<br>
<h2 align="center">Crtačke tehnike:</h2>
<h5 align="center">
1.Olovka <br>
2.Ugljen<br>
3.Tuš<br>
4.Fomaster<br>
5.Hemijska olovka<br>
6.Kreda
</h5>
<br>
<br>

<h3>
Sve ove tehnike slikanja moguće je izdraditi na papiru ili platnu, sa okvirom ili bez okvira, sa staklom ili bez.
Cijena vaše slike ovisi o tehnici slikanja i crtanja, kao i dimenzijama.
</h3>



