<body background="111.jpg">
<h1 align="center"><img  src="/LOGO.png"  width="200" />



<h1 align="center">Cjenovnik </h1>
<br>


<h2 align="center">Tehnike slikanja:</h2>

<h5 align="center">
1.Uljane boje <br>
2.Akvarel boje <br>
3.Tempere	<br>
4.Pastel<br>
5.Kombinovane tehnike </h5>
<br>
<br>
<h2 align="center">Crtačke tehnike:</h2>
<h5 align="center">
1.Olovka <br>
2.Ugljen<br>
3.Tuš<br>
4.Flomaster<br>
5.Hemijska olovka<br>
6.Kreda
</h5>
<br>
<br>
<hr>
<h3> Narudžba </h3>
Tehnike slikanja: &emsp;


 <select>
  <option value="uljane boje">Uljane boje </option>
  <option value="akvarel boje">Akvarel boje </option>
  <option value="tempere">Tempere</option>
  <option value="pastel">Pastel</option>
  <option value="olovka">Olovka </option>
  <option value="ugljen">Ugljen </option>
  <option value="flomaster">Flomaster</option>
  <option value="tus">Tuš</option>
</select>
<br>

Materijal: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<select>
<option value="papir">papir </option>
<option value="platno">platno </option>
<option value="drvo">drvo</option>
</select>
<br>

Okvir :   &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<select>
<option value="sa okvirom">sa okvirom </option>
<option value="bez okvira">bez okvira </option>
</select>
<br>

Staklo: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<select>
<option value="sa staklom">sa staklom </option>
<option value="stakla">bez stakla </option>
</select>

<br>
Dimenzije slike: &emsp;
 <select>
  <option value="20x20">20cmx20cm </option>
  <option value="30x20">30cmx20cm </option>
  <option value="90x60">90cmx60cm</option>
  <option value="120x90">120cmx90cm</option>
  <option value="200x90">200cmx90cm </option>

</select>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;<a href="<%= potvrda_path %>" <button type="submit" class="signupbtn">Naruči</button> </a>

<br>

<hr>
<h3>

Cijena vaše slike ovisi o tehnici slikanja i crtanja, kao i dimenzijama.
</h3>



