
 <br>
 <br>
<div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">Naziv</div>
  <img src="ulje1.jpg" style="width:100%">
  <div class="text">50KM</div>
</div>

<div class="mySlides">
  <div class="numbertext">Naziv</div>
  <img src="ulje2.jpg" style="width:100%">
  <div class="text">70KM</div>
</div>

<div class="mySlides">
  <div class="numbertext">Naziv</div>
  <img src="ulje3.jpg" style="width:100%">
  <div class="text">40KM</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>