<body background="111.jpg">
<h1 align="center"><img  src="/LOGO.png"  width="200" />


<h5 align="center">


<form action="action_page.php" >
  <div class="container">
    <h1>Registracija</h1>
    <p>Molim Vas popunite ova polja kako bi kreirali račun</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="" name="email" required>

    <label for="psw"><b>Lozinka</b></label>
    <input type="password" placeholder="" name="psw" required>

    <label for="psw-repeat"><b>Ponovi Lozinku</b></label>
    <input type="password" placeholder="" name="psw-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Zapamti me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Otkaži</button> <button type="submit" class="signupbtn">Registruj se</button>